

/* Roboto-Regular (400) */ 
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
     url('../../assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Roboto-Bold (700) */ 
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Bold.woff') format('woff'),
     url('../../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
