/*Responsive Design Breakpoints*/
$tablet-breakpoint: 37.5rem;
$desktop-breakpoint: 64rem;


/* Primary Colors */
$Primary-Red: #F54336;
$Primary-Black: #000000;
$Primary-Gray: #757575;
$Primary-White: #F3F4F5;
$Primary-RichBlack: #0C121C;

/* Accent Colors */
$Accent-Blue: #0071F1;
$Accent-Yellow: #E4BB75;
$Accent-White: #FFFFFF;
