.nav {
	background: gray;
	height: 2.5rem;
	margin: 1rem -2rem;
	margin-bottom: 0;
	padding: 0rem 1rem;
	display: flex;
	align-items: center;
	&__list {
		list-style: none;
		padding: 0;
		display: flex;
		gap: 0.2rem;
		margin-right: auto;
		margin-bottom: 0;
	}

	&__item {
		font-size: 0.8rem;
		border-right: solid 1px lightgray;
		color: white;
		padding: 0.75rem 0rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	&__earnings {
		padding-right: 2.5rem;
		color: white;
		font-size: 0.8rem;
	}
}
